cluster-id: "cockroachdb-cluster"
listen-addr: "{{ ansible_host }}:{{ cockroachdb.cluster_port }}"
http-addr: "{{ ansible_host }}:{{ cockroachdb.http_port }}"
sql-addr: "{{ ansible_host }}:{{ cockroachdb.sql_port }}"
cache: "{{ cockroachdb.cache_size }}"
max-sql-memory: "{{ cockroachdb.max_memory }}"
max-disk-temp-storage: "{{ cockroachdb.max_disk_temp }}"
locality: "{{ cockroachdb.locality }}"
certs-dir: "{{ cockroachdb.certs_dir }}"
log-dir: "{{ cockroachdb.log_dir }}"